#root {
  width: 80%;/*fondo*/
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
 }
 body { 
  background: url("assets/back.jpg") no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.home-style {
  background-color: #C0A68F
}
.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}
.card {
  padding: 2em;
}
.read-the-docs {
  color: #888;
}
.small-button {
  font-size: 0.8em;
  padding: 0.5em;
}
.productos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* ancho 250px,ajuste automático*/
  grid-gap: 100px;
  justify-content: space-around; /*centrar horizontalmente */
  align-items: center; /*centrar verticalmente */
  margin: 0 auto; /* centrar el contenedor en la página */
  max-width: 1200px; /*ancho máximo del contenedor */
}
.producto-item {/*tarjeta de producto*/
  background-color: #965b03;
  color: black;
  padding: 15px;
  border-radius: 2px;
}
img {
  width: 50%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}
.carrito-container {/*carrito de compra*/
  position: fixed;
  color: black; /*negro */
  top: 50%;
  left: 50%;
  transform: translate(-30%, 10%);/*orientacion*/
  background-color: #965b03;
  padding: 15px;
  width: 30%; /* Ajustar el ancho */ 
}
.carrito-item {
  color: black; /* color de texto negro */
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.pedidos-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  grid-gap: 20px;  
}
.pedido-item {
  background-color: #da8f4d;
  color: black;
  padding: 10px;
  border-radius: 5px; 
}
.carrito-botones {
  display: flex;
  gap: 16px;
  margin-top: 16px;
  justify-content: center;
}
.background-image {
  background-size: cover;
  background-position: center;
}
.carrito-lista {
  list-style: none;
  margin: 0;
  padding: 0;
}
/*botones del carrito*/
.carrito-button-siguiente {
  background-color: rgb(8, 170, 8);
  color: white;
}
.carrito-button-vaciar {
  background-color: rgb(172, 9, 9);
  color: white;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  top: 50%;
  left: -1%;
}
.center-container2 {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: relative;
  top: 50%;
  left: -1%;
}
.boton-marron-claro2 {
  background-color: #A0522D; 
  color: white;
  font-size: 25px;
}
.boton-crear_producto {
  background-color: #88340e; 
  color: white;
  font-size: 25px;
}
.btn-preparando {
 background-color: rgb(8, 170, 8);
 margin-right: 15px;
 font-size: 15px;
}
.btn-listo {
 background-color: rgb(8, 170, 8);
 color: #fff;
 font-size: 15px;
 margin-bottom: 15px;
}
.btn-entregado {
  background-color: rgb(172, 9, 9);
  margin-bottom: 14px;
  color: #fff;
}
.container_but {
  margin-bottom: 9px;
}
.container {
  margin-right: 10px;
  margin-left: 10px;
  margin-top: 20px;
  margin-bottom: 20px;
}
  @media (max-width: 768px) {
  .container {
    margin-right: 5px;
    margin-left: 5px;
    margin-top: 5px;
    margin-bottom: 5px;
   }
}
.users-button {
 background-color: #8B4513;
 border: none;
 border-radius: 4px;
 color: #fff;
 font-size: 35px;
 padding: 8px 16px;
 position: absolute;
 top: 670px;
 left: 190px;
 cursor: pointer;
 box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
 transition: all 0.2s ease-in-out;
}
.button-container {
 display: flex;
 justify-content: space-between;
 margin: 20px 0;
}         
.boton {
 flex-basis: calc(33.33% - 10px);
 background-color: #8B4513;
 border: none;
 border-radius: 4px;
 color: #FFF;
 font-size: 30px;
 padding: 8px 16px;
 cursor: pointer;
 box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
 transition: all 0.2s ease-in-out;
}            
.boton-inicio {
 background-color: #2da04a;
 cursor: pointer;
 box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
 transition: all 0.2s ease-in-out;
}    
.boton-ini {
  background-color: #138b2d;
 }    
@media (max-width: 768px) {
 .button-container {
 flex-wrap: wrap;
 }           
 .boton {
 margin-right: 5px;
 margin-bottom: 5px;
 flex-basis: calc(50% - 5px);
  }
}